-- CreateSchema
CREATE SCHEMA IF NOT EXISTS "public";

-- CreateEnum
CREATE TYPE "Role" AS ENUM ('JUNIOR', 'MID', 'SENIOR', 'STAFF', 'TECH_LEAD');

-- CreateEnum
CREATE TYPE "DomainTrack" AS ENUM ('DEVOPS', 'BACKEND', 'SECURITY', 'FRONTEND_PERF', 'DISTRIBUTED_SYSTEMS', 'DEVOPS_INFRA', 'CLOUD_SECURITY', 'BACKEND_PERFORMANCE', 'FRONTEND_ARCHITECTURE', 'DATA_ENGINEERING', 'SYSTEMS_PROGRAMMING', 'BLOCKCHAIN_CRYPTO', 'AI_INFRA_MLOPS', 'DATABASE_INTERNALS');

-- CreateEnum
CREATE TYPE "Difficulty" AS ENUM ('EASY', 'MEDIUM', 'HARD', 'EXPERT');

-- CreateEnum
CREATE TYPE "SubmissionStatus" AS ENUM ('PENDING_REVIEW', 'VERIFIED', 'NEEDS_REVISION');

-- CreateEnum
CREATE TYPE "FeedType" AS ENUM ('MICRO_BUILD', 'SENIOR_SPEC', 'JUNIOR_TIP', 'VERIFIED_AUDIT');

-- CreateEnum
CREATE TYPE "SpecType" AS ENUM ('PRACTICE', 'CHALLENGE');

-- CreateTable
CREATE TABLE "User" (
    "id" TEXT NOT NULL,
    "email" TEXT NOT NULL,
    "username" TEXT NOT NULL,
    "githubId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "avatarUrl" TEXT,
    "role" "Role" NOT NULL DEFAULT 'SENIOR',
    "bio" TEXT,
    "githubUrl" TEXT NOT NULL,
    "streakDays" INTEGER NOT NULL DEFAULT 0,
    "karmaPoints" INTEGER NOT NULL DEFAULT 0,
    "acceptanceRate" DOUBLE PRECISION NOT NULL DEFAULT 100.0,
    "submissionsAudited" INTEGER NOT NULL DEFAULT 0,
    "dailyTargetMinutes" INTEGER NOT NULL DEFAULT 30,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "User_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Guild" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" "DomainTrack" NOT NULL,
    "description" TEXT NOT NULL,
    "iconName" TEXT NOT NULL DEFAULT 'Shield',
    "memberCount" INTEGER NOT NULL DEFAULT 0,
    "totalKarma" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Guild_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuildMembership" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "guildId" TEXT NOT NULL,
    "role" TEXT NOT NULL DEFAULT 'MEMBER',
    "joinedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GuildMembership_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "specs" (
    "id" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "spec_id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "spec_type" "SpecType" NOT NULL,
    "track" TEXT NOT NULL,
    "difficulty" TEXT NOT NULL,
    "manifest" JSONB NOT NULL,
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "specs_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "submissions" (
    "id" TEXT NOT NULL,
    "spec_id" TEXT NOT NULL,
    "user_id" TEXT NOT NULL,
    "code_files" JSONB NOT NULL,
    "defense_answer" TEXT NOT NULL,
    "status" "SubmissionStatus" NOT NULL DEFAULT 'PENDING_REVIEW',
    "created_at" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "submissions_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "PeerReview" (
    "id" TEXT NOT NULL,
    "submissionId" TEXT NOT NULL,
    "reviewerId" TEXT NOT NULL,
    "architectureRating" INTEGER NOT NULL DEFAULT 5,
    "edgeCasesRating" INTEGER NOT NULL DEFAULT 5,
    "defenseClarityRating" INTEGER NOT NULL DEFAULT 5,
    "overallScore" DOUBLE PRECISION NOT NULL DEFAULT 5.0,
    "feedbackText" TEXT NOT NULL,
    "inlineComments" JSONB NOT NULL DEFAULT '[]',
    "upvotesCount" INTEGER NOT NULL DEFAULT 0,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "PeerReview_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "GuildBadge" (
    "id" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "track" "DomainTrack" NOT NULL,
    "level" TEXT NOT NULL DEFAULT 'L3',
    "iconName" TEXT NOT NULL DEFAULT 'Award',
    "consensusHash" TEXT NOT NULL,
    "auditedBy" TEXT NOT NULL,
    "verifiedAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "GuildBadge_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "License" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "code" TEXT NOT NULL,
    "isProprietary" BOOLEAN NOT NULL DEFAULT false,
    "geoRestrictions" TEXT[] DEFAULT ARRAY[]::TEXT[],
    "userAccessScope" TEXT NOT NULL DEFAULT 'ALL',
    "pricingTier" TEXT NOT NULL DEFAULT 'FREE',
    "termsUrl" TEXT,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "License_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "Dataset" (
    "id" TEXT NOT NULL,
    "name" TEXT NOT NULL,
    "slug" TEXT NOT NULL,
    "description" TEXT NOT NULL,
    "fileType" TEXT NOT NULL,
    "sizeBytes" BIGINT NOT NULL,
    "storageUri" TEXT NOT NULL,
    "domain" TEXT NOT NULL,
    "source" TEXT NOT NULL,
    "tags" TEXT[],
    "accessRules" TEXT NOT NULL DEFAULT 'PUBLIC',
    "customAttributes" JSONB DEFAULT '{}',
    "licenseId" TEXT NOT NULL,
    "uploaderId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,
    "updatedAt" TIMESTAMP(3) NOT NULL,

    CONSTRAINT "Dataset_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "FeedItem" (
    "id" TEXT NOT NULL,
    "type" "FeedType" NOT NULL DEFAULT 'MICRO_BUILD',
    "title" TEXT NOT NULL,
    "summary" TEXT NOT NULL,
    "codeSnippet" TEXT,
    "language" TEXT,
    "commentsCount" INTEGER NOT NULL DEFAULT 0,
    "upvotes" INTEGER NOT NULL DEFAULT 0,
    "track" "DomainTrack" NOT NULL,
    "authorId" TEXT NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "FeedItem_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SimulationSpec" (
    "id" TEXT NOT NULL,
    "title" TEXT NOT NULL,
    "track" "DomainTrack" NOT NULL,
    "slug" TEXT NOT NULL,
    "incidentScenario" TEXT NOT NULL,
    "starterWorkspaceId" TEXT,
    "targetMetrics" JSONB NOT NULL,
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SimulationSpec_pkey" PRIMARY KEY ("id")
);

-- CreateTable
CREATE TABLE "SimulationRun" (
    "id" TEXT NOT NULL,
    "specId" TEXT NOT NULL,
    "userId" TEXT NOT NULL,
    "initialP99Ms" DOUBLE PRECISION NOT NULL,
    "resolvedP99Ms" DOUBLE PRECISION NOT NULL,
    "simulatedSeed" TEXT NOT NULL,
    "timeToResolveSeconds" INTEGER NOT NULL,
    "postMortemRca" TEXT NOT NULL,
    "postMortemTradeoffs" TEXT NOT NULL,
    "status" TEXT NOT NULL DEFAULT 'PENDING_AUDIT',
    "createdAt" TIMESTAMP(3) NOT NULL DEFAULT CURRENT_TIMESTAMP,

    CONSTRAINT "SimulationRun_pkey" PRIMARY KEY ("id")
);

-- CreateIndex
CREATE UNIQUE INDEX "User_email_key" ON "User"("email");

-- CreateIndex
CREATE UNIQUE INDEX "User_username_key" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "User_githubId_key" ON "User"("githubId");

-- CreateIndex
CREATE INDEX "User_githubId_idx" ON "User"("githubId");

-- CreateIndex
CREATE INDEX "User_username_idx" ON "User"("username");

-- CreateIndex
CREATE UNIQUE INDEX "Guild_name_key" ON "Guild"("name");

-- CreateIndex
CREATE UNIQUE INDEX "Guild_slug_key" ON "Guild"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "GuildMembership_userId_guildId_key" ON "GuildMembership"("userId", "guildId");

-- CreateIndex
CREATE UNIQUE INDEX "specs_slug_key" ON "specs"("slug");

-- CreateIndex
CREATE UNIQUE INDEX "specs_spec_id_key" ON "specs"("spec_id");

-- CreateIndex
CREATE INDEX "PeerReview_submissionId_idx" ON "PeerReview"("submissionId");

-- CreateIndex
CREATE INDEX "PeerReview_reviewerId_idx" ON "PeerReview"("reviewerId");

-- CreateIndex
CREATE UNIQUE INDEX "PeerReview_submissionId_reviewerId_key" ON "PeerReview"("submissionId", "reviewerId");

-- CreateIndex
CREATE INDEX "GuildBadge_userId_idx" ON "GuildBadge"("userId");

-- CreateIndex
CREATE INDEX "GuildBadge_track_idx" ON "GuildBadge"("track");

-- CreateIndex
CREATE UNIQUE INDEX "License_code_key" ON "License"("code");

-- CreateIndex
CREATE UNIQUE INDEX "Dataset_slug_key" ON "Dataset"("slug");

-- CreateIndex
CREATE INDEX "Dataset_domain_idx" ON "Dataset"("domain");

-- CreateIndex
CREATE INDEX "Dataset_fileType_idx" ON "Dataset"("fileType");

-- CreateIndex
CREATE INDEX "Dataset_licenseId_idx" ON "Dataset"("licenseId");

-- CreateIndex
CREATE INDEX "FeedItem_track_idx" ON "FeedItem"("track");

-- CreateIndex
CREATE INDEX "FeedItem_createdAt_idx" ON "FeedItem"("createdAt");

-- CreateIndex
CREATE UNIQUE INDEX "SimulationSpec_slug_key" ON "SimulationSpec"("slug");

-- AddForeignKey
ALTER TABLE "GuildMembership" ADD CONSTRAINT "GuildMembership_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuildMembership" ADD CONSTRAINT "GuildMembership_guildId_fkey" FOREIGN KEY ("guildId") REFERENCES "Guild"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "submissions" ADD CONSTRAINT "submissions_spec_id_fkey" FOREIGN KEY ("spec_id") REFERENCES "specs"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "submissions" ADD CONSTRAINT "submissions_user_id_fkey" FOREIGN KEY ("user_id") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PeerReview" ADD CONSTRAINT "PeerReview_submissionId_fkey" FOREIGN KEY ("submissionId") REFERENCES "submissions"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "PeerReview" ADD CONSTRAINT "PeerReview_reviewerId_fkey" FOREIGN KEY ("reviewerId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "GuildBadge" ADD CONSTRAINT "GuildBadge_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Dataset" ADD CONSTRAINT "Dataset_licenseId_fkey" FOREIGN KEY ("licenseId") REFERENCES "License"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "Dataset" ADD CONSTRAINT "Dataset_uploaderId_fkey" FOREIGN KEY ("uploaderId") REFERENCES "User"("id") ON DELETE RESTRICT ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "FeedItem" ADD CONSTRAINT "FeedItem_authorId_fkey" FOREIGN KEY ("authorId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SimulationRun" ADD CONSTRAINT "SimulationRun_specId_fkey" FOREIGN KEY ("specId") REFERENCES "SimulationSpec"("id") ON DELETE CASCADE ON UPDATE CASCADE;

-- AddForeignKey
ALTER TABLE "SimulationRun" ADD CONSTRAINT "SimulationRun_userId_fkey" FOREIGN KEY ("userId") REFERENCES "User"("id") ON DELETE CASCADE ON UPDATE CASCADE;

